*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
    font-family: Titillium Web, sans-serif;
}

h1 {
    border: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: darkcyan;
}

.welcome-screen {
    background-image:url(img/pexels-photo-89957.jpeg);
    background-size: cover;
    color:black;
    font-size: 13px;
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
  animation-duration: s;
  animation-delay: 1s;
  animation-iteration-count:3;
   font-size: 30px ! important;
     color: white ! important;
    
}
h3{
    font-size: 20px ! important;
    margin-top: -0px ! important;
    color: white ! important;
}
.btn{
  animation-duration:10s;
  animation-delay: 1s;
  animation-iteration-count:infinite;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color:#282828;
}


.main header {
    height: 50px;
    background-color:#5e4485;
    padding: 1rem;
    color: white;
    font-size: 16px;
     
}

.main .content {
    flex:1;
    background-color:#282828;
}

.main footer {
    height: 80px;
    background-color:#282828;
    padding-top: 1rem;
}

.player-buttons {
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.right.floated {
    float: right;
}

.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: #959595;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: white;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.progress-filled {
    background-color:#59a196;
    height: 8px;
    border-radius: 5px;
    width: 44%;

}

#email-input{
    margin-top: 7px;
}
#pass-input{
    margin-top: 7px;
    margin-bottom: 7px;
}
 
 
.main .content {
    width: 800px;
    margin: 2rem auto;
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    
}

.list-headers > div {
    width: 150px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}

.list-headers > div:last-child {
    text-align: right;
}

.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
    cursor: pointer;
}

.song > span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
}

.song .song-duration {
    text-align: right;
   
}

.song-list .song:hover {
    background-color: #282828;
}


.song-length {
    text-align: center;
}

.progress-wrapper span {
    color: black;
}
 
.song > span {
    display: inline-block;
    width: 150px;
    height: 1.1rem;
}

.content {
    position: relative;
}
.current-song-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
}

.current-song-image {
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}

.current-song-name {
    font-size: 1.4rem;
    margin-top: 4px;
    margin-bottom: 0;
}

.current-song-album {
    margin-top: 0.4rem;
}

.progress-wrapper span {
    color: white;
}


            /*DataTables overrides*/
table.dataTable tbody tr {
    background-color: #282828;
    color: white;
}
#songs_info {
    display: none;
}

#songs_filter {
    color: white;
  
}
#songs_filter input {
    width: 100px;
    margin-bottom: 1rem;
    font-size: 16px;
}

#songs_filter input {
    width: 300px;
    
    
    border: none;
    font-size: 16px;
    border-radius: 20px;
}

 input, optgroup, select, textarea {
    margin: 0;
    font-weight: normal;
    color: black !important;
} 

 
tbody td {
    padding: 20px 10px;
    background-color:#282828;
    text-align: left;
    font-size: 15px;
}
tbody td:hover {
    
    background-color:#59a196;
     
}

thead td {
    padding: 10px 18px;
    border-bottom: 1px solid gray;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    
}
table.dataTable.no-footer {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray !important;
    
}
 
 
 
 table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid gray !important;
    
}

#songs{
/*    height: 200px;*/
    width:800px !important;
}

input{
    margin-bottom: 10px;
}
.btn2{
    width: 173px;
    border: none;
    border-radius: 20px;
    background-color: lightskyblue;
}

.btn2:hover{
    width: 173px;
    border: none;
    border-radius: 20px;
    background-color: darkgoldenrod;
    color: black;
}
.fa{
    margin-left: 40px;
}
.fa.disabled {
    color: gray;
}

/* -------------------------------------  Drum kit button ---------------------------------------------*/

.btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:lightseagreen;
    border: none;
    border-radius:50px !important;
    font-size: 18px;
    color: white;
    margin-left: 650px;
    margin-top: 150px;
}

a{
    text-decoration: none;
    color: white !important;
}

 






/* ----------------------------------------------------------------------------------------------------*/


#local{
    margin-top: 10px;
    margin-left: 20px;
    background-color: gray;
    
}

.marg{
    margin-top: 50px;
    margin-left: 20px;
    
}


.marg2{
    margin-top: 20px;
    margin-left: 20px;
    background-color: gray;
    padding-left: 10px;
 
 
    
}

#num-songs{
  color: greenyellow;
      font-weight: bold;
 
}